
/* Import Tailwind CSS base, component, and utility styles */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom font-face declarations for Playwrite NO font in various weights */
@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


/* Set up the body to use a white background and flex layout for full height */
body {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/* Make the #root element a flex container to allow flexible page layouts */
#root {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
