@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playwrite NO';
  src: url('/fonts/Playwrite_NO/static/PlaywriteNO-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #ffffff;
  height: 100vh;
}
